* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  width: 50vw;
  height: 50vh;
  flex-wrap: wrap;
  align-content: center;
  /*
  align-content: flex-start;
  align-content: flex-end;
  align-content: stretch;
  align-content: space-around;
  align-content: space-between;
  align-content: space-evenly;
  */
  align-items: flex-start;
}

.item {
  background-color: tomato;
  border: 2px solid black;
  font-size: 24px;
  margin: 5px;
  padding: 5px;
}

.item-1 {
  background-color: red;
}
.item-2 {
  background-color: green;
}
.item-3 {
  background-color: yellow;
  height: 150px;
  order: -4;
}
.item-4 {
  background-color: blue;
  order: -3;
  height: 140px;
}
.item-5 {
  background-color: yellowgreen;
  order: -2;
  height: 120px;
}
.item-6 {
  background-color: gold;
  order: -1;
  height: 110px;
}
.item-7 {
  background-color: black;
  color: white;
}
.item-8 {
  background-color: darkred;
  color: white;
}
.item-9 {
  background-color: magenta;
}
.item-10 {
  background-color: mediumspringgreen;
}
