:root {
  --primary-color: blue;
  --secondary-color: red;
  --bg-primary--color: yellow;
  --bg-secondary--color: orange;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TRICK 1 USING POSITION AND TRANSFORM PROPERTY */

/* .main {
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.secondary--main {
  background-color: var(--bg-secondary--color);
  width: 60vw;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

/* TRICK 2 Using FLEX Property */

/* .main {
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary--main {
  background-color: var(--secondary-color);
  width: 60vw;
  height: 60vh;
} */

/* TRICK 3 USING DISPLAY GRID */

.main {
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.secondary--main {
  background-color: var(--secondary-color);
  width: 60vw;
  height: 60vh;
}
