li:first-child {
  color: red;
  font-size: 22px;
}

li:last-child {
  color: green;
}

li:nth-child(3) {
  color: yellow;
  font-size: 26px;
}

.container ul li:nth-child(4) {
  font-style: italic;
  color: pink;
  font-size: 24px;
}
.container ol li:nth-child(6) {
  font-style: italic;
  color: pink;
  font-size: 44px;
  text-transform: lowercase;
}
