* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* Using display Flex the container become flex and the elements inside it become flex-items */
  width: 50vw;
  background-color: gray;
  display: flex;
  align-items: center;
  /*
  align-items: flex-end;
  align-items: flex-start; 
  align-items: stretch;
  align-items: baseline;
  */

  justify-content: center;
  /*
  justify-content: center;
  justify-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly;
*/

  /* flex-direction: column; */

  /*
  flex-direction: row; // DEFAULT
  flex-direction: row-reverse;
  flex-direction: column-reverse;
  */

  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */

  /* Shorthand For the Flex-Direction and Flex Wrap */
  /* flex-flow: row wrap-reverse; */
}

.item {
  background-color: tomato;
  border: 2px solid black;
  font-size: 24px;
}

.item-1 {
  background-color: red;
  font-size: 28px;
}
.item-2 {
  background-color: green;
}
.item-3 {
  background-color: yellow;
  height: 150px;
}
.item-4 {
  background-color: blue;
}
.item-5 {
  background-color: yellowgreen;
}
.item-6 {
  background-color: gold;
  font-size: 40px;
}
.item-7 {
  background-color: black;
  color: white;
}
.item-8 {
  background-color: royalblue;
}
