* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
  font-weight: bold;
}

header,
footer,
.main-content-box,
.sidebar,
.box {
  background-color: red;
  padding: 10px;
}

.small--boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.container {
  margin: 30px auto;
  width: 800px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 70% 1fr;
  gap: 10px;
}

.content {
  display: grid;
  grid-template-columns: 80% 1fr;
  gap: 10px;
}

.boxes-main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  gap: 10px;
}
