* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  color: white;
  background: url("img/bg.jpg");
  font-family: "Baloo bhai";
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.left {
  flex: 2;
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 14px;
}

.left img {
  width: 50px;
  filter: invert(100%);
  margin-right: 15px;
}

.mid {
  flex: 3.5;
}

.right {
  align-content: flex-end;
}

.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.navbar li a {
  color: white;
  font-size: 1rem;
}

.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: grey;
}

.btn:hover {
  background-color: grey;
}

.btn {
  margin: 0 1rem;
  padding: 0px 0.9rem;
  background-color: black;
  color: white;
  border: 1px solid grey;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "baloo bhai";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  margin-top: 180px;
  margin-left: 20px;
  padding: 30px 53px;
  width: 33%;
  border-radius: 28px;
}

.form-group input {
  display: flex;
  align-items: center;
  text-align: center;
  width: 279px;
  padding: 9px 17px;
  border: 2px solid green;
  margin: 14px;
  font-size: 12px;
  font-family: "baloo bhai";
  border-radius: 12px;
  outline: none;
}

.container button {
  width: 28%;
}
