* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  border: 2px solid black;
  padding: 25px;
  margin: 25px;
  height: 600px;
  display: grid;

  /* grid-template-columns: 300px 100px 500px 400px; */
  /* We use fr (fractional row which is use more than px */
  grid-template-columns: 1fr 2fr 1fr;

  /* grid-template-rows: 200px 250px 150px; */
  /* grid-template-rows: 1fr 2fr 1fr; */
  grid-template-rows: 1fr 2fr auto;
  /* As we have use auto it means it will take that much which is required. */
  /* grid-auto-rows: 2fr; */

  column-gap: 15px;
  row-gap: 15px;
}

.item {
  background-color: tomato;
  border: 2px solid black;
  font-size: 24px;
}

.item-1 {
  background-color: red;
}
.item-2 {
  background-color: green;
}
.item-3 {
  background-color: yellow;
  /* height: 150px; */
}
.item-4 {
  background-color: blue;
}
.item-5 {
  background-color: yellowgreen;
}
.item-6 {
  background-color: gold;
}
.item-7 {
  background-color: black;
  color: white;
}
.item-8 {
  background-color: royalblue;
}

.item-9 {
  background-color: tomato;
}
