nav {
  display: flex;
}

.navbutton {
  background-color: greenyellow;
  padding: 11px 25px;
  width: 100px;
  text-align: center;
  margin-left: 2px;
}

.dropdown-box {
  display: none;
  position: absolute;
  z-index: 99;
}

.navbutton:hover .dropdown-box {
  display: block;
  margin-top: 15px;
}

.dropdown-box .navbutton {
  background-color: gold;
  margin-top: 2px;
  margin-left: -25px;
}


.dropdown-box .navbutton:hover {
  background-color: rgb(153, 0, 255);
  transition-duration: 1s;
}
