html {
  background-image: linear-gradient(#fc5e55, #fa4083);
}

body {
  background-image: url(Images/image-lion-background.png);
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.125rem;
  background-repeat: no-repeat;
  background-position: top center;
}
.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

main {
  display: flex;
  align-items: center;
}

.main2 {
  padding-top: 50px;
  min-height: 300px;
}

.inputwrapper {
  margin-bottom: 20px;
}
.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.card1,
.card2,
.card3 {
  box-sizing: border-box;
  padding-top: 30px 30px 20px 30px;
}

.card1 {
  background-image: url(Images/image-background-card1.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
}
.card2 {
  background-image: url(Images/image-background-card2.jpg);
  background-size: cover;
  min-height: 250px;
  background-position: bottom;

  width: 30%;
}

.card3 {
  background-image: url(Images/image-background-card3.jpg);
  background-size: cover;
  min-height: 250px;
  background-position: bottom;

  width: 30%;
}

.herobox1 {
  flex: 2;
  padding-right: 100px;
}
.herobox2 {
  flex: 1;
}

h1 {
  font-size: 3.25rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  margin-top: 20px;
}
p {
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.cards p {
  font-size: 0.85rem;
  line-height: 1.25rem;
  margin: 10px 30px 20px 30px;
}

.cards img {
  padding-top: 20px;
}
a {
  text-decoration: none;
  color: white;
}

a.mybutton {
  text-decoration: none;
  background-color: white;
  color: #fa4083;
  border-radius: 0px;
  padding: 11px 25px;
  font-family: "Playfair Display", serif;
  display: inline-block;
  margin-top: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
}

.navbutton {
  font-family: "Playfair Display", serif;
  display: inline-block;
  margin-left: 10px;
  border: 1px solid white;
  padding: 11px 25px;
  position: relative;
}

.testonomials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.textbox {
  margin-top: 50px;
  width: 47%;
  border: 1px solid white;
  padding: 50px;
  box-sizing: border-box;
}

.mybutton:hover {
  background-color: rgb(29, 213, 183);
  transition-duration: 1s;
  transition: step-start;
}

.textbox p:last-of-type {
  font-size: 0.8rem;
  padding-left: 30px;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 20px;
  text-align: center;
  margin-left: -50px;
}

.navbutton:hover .dropdown {
  display: block;
}

.dropdown .navbutton {
  width: 140px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}

.dropdown .navbutton a {
  background-size: cover;
  color: #fa4083;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 12px 20px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.85rem;
}

.newline {
  display: block;
  margin-bottom: 10px;
}
.submitbutton {
  margin-right: 10px;
  font-size: 1rem;
  padding: 5px 5px;
  box-sizing: border-box;
  font-weight: bold;
}

form {
  margin: 40px 0px;
}
