html {
  height: 100%; /* this default  */
}

body {
  background-color: #2f3835;
  background-image: url("Images/background-adare-restaurant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}
header {
  height: 118px;
  text-align: center;
}
nav {
  background-color: rgba(0, 0, 0, 0.376);
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}
main {
  height: 400px;
  text-align: center;
  margin-top: 80px;
  padding-left: 240px;
  padding-right: 240px;
}

footer {
  background-color: rgba(0, 0, 0, 0.576);
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  color: white;
  font-size: 84px;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
  /* border: 2px solid; */
  font-size: 12px;
}

footer p {
  text-align: center;
  font-size: 12px;
  color: #e4eeeb;
}

.maps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

.maps iframe {
  padding-top: 10px;
}
