:root {
  --primary-color: blue;
  --secondary-color: red;
  --bg-primary--color: yellow;
  --bg-secondary--color: orange;
}

::selection {
  background-color: chocolate;
  color: white;
}

h1::selection {
  color: var(--primary-color);
  background-color: greenyellow;
  color: white;
}
h2 {
  color: var(--secondary-color);
}
h3 {
  --primary-color: green;
  color: var(--primary-color);
}
