/*  Global View */

body {
  font-family: "Open Sans", sans-serif;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dddddd;
}

#menu li a {
  text-decoration: none;
  color: #4e4e4e;
  padding: 8px;
  font-size: 16px;
  font-weight: 800;
}

#menu {
  float: right;
}

#menu li {
  display: inline-block;
}

header {
  padding: 10px 20px 20px 20px;
}

.slicknav_menu {
  display: none;
}

.hero {
  background-image: url(/Portfolio/images/hero-background.jpg);
  padding: 52px 0px 72px 72px;
  background-repeat: no-repeat;
  background-size: cover;
}

.subheading {
  color: #fff;
  font-size: 33px;
  font-weight: 800;
  margin-bottom: -50px;
}

h1 {
  color: #fff;
  font-size: 52px;
  font-weight: 300;
  margin-bottom: -15px;
}

.mybtn {
  margin-top: 5px;
  display: inline-block;
  background-color: #f1474c;
  text-decoration: none;
  padding: 8px 30px;
  color: #fff;
  font-size: 20px;
}

.heading-body-copy {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  margin-right: 20%;
}

.col {
  float: left;
  padding: 1%;
}

.col-img {
  width: 31.33%;
}

.col-img img {
  width: 100%;
  height: auto;
  display: block;
}

/* Tablet View */
@media (max-width: 768px) {
  #menu li {
    display: block;
    text-align: right;
  }

  .col-img {
    width: 48%;
  }
}

/* Mobile View */
@media (max-width: 400px) {
  .slicknav_menu {
    display: block;
  }

  #menu {
    display: none;
  }

  .col-img {
    width: 98%;
  }
}
