body {
  margin: 0px;
  font-family: sans-serif;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.header-container {
  background-color: #3d3c3e;
  min-height: 100px;
  position: fixed;
  width: 100%;
}

header {
  max-width: 1024px;
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Playfair Display", serif;
}

.myname {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  color: mediumpurple;
}

nav a {
  border: 1px solid white;
  margin-left: 20px;
  padding: 8px 20px;
}

/* DESKTOP view */
.container {
  max-width: 1024px;
  min-height: 500px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 140px;
}
.col {
  background-color: #32ce99;
  width: 30%;
  margin-bottom: 40px;
}

.hide-desktop-only {
  display: none;
}

.col p {
  padding: 20px 20px;
  font-size: 0.85rem;
  line-height: 1.2rem;
}

.col img {
  width: 100%;
  height: auto;
}

.col p::first-line {
  font-weight: bold;
}

.mob-wrapper {
  display: none;
}

/* TABLET view */

@media (max-width: 750px) {
  .col {
    width: 45%;
  }
  .hide-desktop-only {
    display: block;
  }

  .hide-Mobile {
    display: none;
  }

  header {
    display: block;
    text-align: center;
  }
  nav {
    display: none;
  }
  nav a {
    display: block;
    margin-left: 0px;
    /* margin-top: 10px; */
  }

  .logo {
    padding: 10px 0px;
  }
  .header-container {
    position: relative;
  }

  .container {
    padding-top: 40px;
  }
  .mob-wrapper {
    display: block;
  }
  .mob-nav {
    display: none;
    background-color: coral;
  }
  
  .mybutton {
    border: 1px solid white;
    display: block;
    padding: 10px 10px;
    margin-top: 5px;
  }
}

/* MOBILE view */
@media (max-width: 600px) {
  .col {
    width: 100%;
  }
}
