$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;

*,
*::after,
*::before {
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

/* Properties which will be inherited to all element */
body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem; /* To give a white space between the whole content and window */
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/hero.jpg"); /* As we want linear gradient on image we write gradient first then the image with color opacity of 0.8 */
  background-size: cover;
  background-position: top;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 80vh,
    0 100%
  ); /* Enter the co-ordinate nicely or use https://bennettfeely.com/clippy/ */
  position: relative;
}

.header__logo-box {
  top: 4rem;
  left: 4rem;
  position: absolute;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute; /* Here we will center the header__text-box respect to parent. */
  top: 40%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Here we will change the x and y co-ordinates respect to the element. */
  text-align: center; /* As it is treated as text and it inline box element so that we are able use this property */
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden; /* This is used to fix the shaking while the animation is perform*/
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-in;
}

/* This are the custom keyframes which we can use anywhere */

@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}

.btn--white {
  background-color: $color-white;
  color: $color-grey-dark;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%; /* This means height of button as it is child of button */
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: $color-white;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  /*
  This above property what it does it apply 0% property before animation starts 
    0% {
    transform: translateY(30px);
    opacity: 0;
  }
  */
}
