.mybox1 {
    background-color: tomato;
    min-height: 200px;
    margin: 20px 10px;
    padding: 20px;
}

.mybox2 {
    background-color: springgreen;
    min-height: 200px;
    margin: 20px 10px;
    padding: 20px;
}

.mybg1 {
    background-color: darkslategray;
}