.container {
    background-color: greenyellow;
}

.box {
    background-color: green;
    width: 250px;
    height: 250px;
    color: white;

    /*1. here psoition is relative so that wecan move it. */
    position: relative;
    /* animation-name: harry1; */
    animation-name: harry2;
    animation-duration: 2s;
    animation-iteration-count: 10;
    /*2. After the end of iteration count the property will get set */
    /* animation-fill-mode: forwards; */
    /*3. After the end of iteration count the property will not get set */
    /* animation-fill-mode: alternate; */
    /*4. Start will be ease then end will be fast and vice =versa as per choice */
    /* animation-timing-function: ease-in; */
    /* 5. After daly of 3s it will run */
    /* animation-delay: 3s; */
    /* 6. The direction of animation will get reverse */
    animation-direction: reverse; 

    /* These properties can be set using this shorthand */
    /* animation: animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-fill-mode; */
    /* animation: harry 5s ease-in 1s 12 backwards; */

}

@keyframes harry2 {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 250px;
        left: 0px;
    }

    75% {
        top: 250px;
        left: 250px;
    }

    100% {
        top: 0px;
        left: 250px;
    }

}

@keyframes harry1 {
    from {
        width: 10px;
    }

    to {
        width: 1400px;
    }
}