/*
BOX-SHADOW
 1. box-shadow: offset-x offset-y color;  
 2. box-shadow: offset-x offset-y blur-radius color;  
 3. box-shadow: offset-x offset-y blur-radius spread-radius color;  
 4. Insert gives inside box shadow. box-shadow: inset 3px 5px green;
 5. Multiple box shadow box-shadow: 3px 5px green, 4px 6px red;
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.card {
  height: 350px;
  width: 250px;
  padding: 8px 16px;
  margin: 10px 35px;
  background-color: white;
  /* box-shadow: 10px 10px 10px 9px rgba(0, 0, 0, 0.2); */
  box-shadow: -10px -10px 10px 9px rgba(0, 0, 0, 0.2);
}

.heading-text {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  /* If we give negative value it will give in opposite direction text shadow  */
  /* text-shadow: -3px -2px 2px rgb(196, 87, 87); */
}
