:root {
  --primary-color: blue;
  --secondary-color: red;
  --bg-primary--color: yellow;
  --bg-secondary--color: orange;
}

div {
  background-color: var(--bg-primary--color);
}

h1 {
  color: var(--primary-color);
}
h2 {
  color: var(--secondary-color);
}
h3 {
  --primary-color: green;
  color: var(--primary-color);
}
