body {
  background-color: black;
}

/* Element selector */

p {
  border: 2px solid rgb(149, 255, 0);
  padding: 20px;
}

/* Id selector */
#first-para {
  color: green;
}

/* Class selector */
.bgBlue {
  color: yellow;
  background-color: blue;
}
.heading {
  color: white;
}

/* Grouping selector or multi Selector */
footer,
span {
  background-color: rgb(3, 72, 9);
  font-size: 20px;
  font-weight: bold;
  color: rgb(241, 212, 19);
}
