* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid black;
  background-color: black;
  font-size: 20px;
  margin: 40px;

  display: grid;
  grid-template-columns: 125px 200px 125px;
  grid-template-rows: 250px 100px;
  gap: 10px;

  /* Horizontally  */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  justify-content: center;

  /* Vertically */
  /* align-content: space-around; */
  /* align-content: space-evenly; */
  /* align-content: space-between; */
  align-content: center;

  /* Item will be set center */
  align-items: center;
  justify-items: center;
}

.item-2 {
  /* align-self: end; */
  /* align-self: start; */
  align-self: center;

  /* justify-self: end; */
  /* justify-self: start; */
  justify-self: center;
}

.item {
  background-color: tomato;
  border: 2px solid white;
}

.item-1 {
  background-color: red;
}
.item-2 {
  background-color: green;
  height: 150px;
}
.item-3 {
  background-color: yellow;
}
.item-4 {
  background-color: blue;
}
.item-5 {
  background-color: yellowgreen;
}
.item-6 {
  background-color: gold;
}

.box-model {
  display: grid;
  grid-template-columns: 700px 400px;
}
