* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 25px;
  margin: 30px auto;
  border: 2px solid black;
  background-color: lightgray;

  display: grid; /* We have Initialize a display grid here. */
  grid-template-columns: 300px 100px 500px; /* Here we create a 4 columns with respectively size below mentioned  */
  grid-template-rows: 100px 75px 50px; /* Here we have created a row in which first row has size of 100px second row will have size of 250px and third row siz eof 150px */

  /* It will set the Margin Automatically */
  /* gap: 30px; */
  column-gap: 30px;
  row-gap: 15px;
}

.item {
  background-color: tomato;
  border: 2px solid black;
  font-size: 24px;
}

.item-1 {
  background-color: red;
}
.item-2 {
  background-color: green;
}
.item-3 {
  background-color: yellow;
  /* height: 150px; */
}
.item-4 {
  background-color: blue;
}
.item-5 {
  background-color: yellowgreen;
}
.item-6 {
  background-color: gold;
}
.item-7 {
  background-color: black;
  color: white;
}
.item-8 {
  background-color: royalblue;
}

.item-9 {
  background-color: tomato;
}
