* {
  margin: 0;
  padding: 0;
}

nav {
  margin: 30px;
  background-color: #f9ed69;
}
nav::after {
  content: '';
  clear: both;
  display: table;
}

.navigation {
  list-style: none;
  float: left;
  text-align: center;
}
.navigation li {
  display: inline-block;
  margin-left: 30px;
}
.navigation li:first-child {
  margin: 0;
}
.navigation li a:link {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
}

.button {
  float: right;
}

.btn-main:link,
.btn-hot:link {
  padding: 8px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
}

.btn-main {
  color: white;
}
.btn-main:link {
  background-color: #f08a5d;
}
.btn-main:hover {
  background-color: #ea5717;
}

.btn-hot {
  color: white;
}
.btn-hot:link {
  background-color: #b83b5e;
}
.btn-hot:hover {
  background-color: #c4486b;
  color: #d9d9d9;
}
