* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  border: 2px solid red;
  margin: auto;
  width: 1200px;
}

h3 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.box {
  border: 4px solid black;
  background-color: grey;
  margin: 4px 0px;
  padding: 23px;
  width: 33%;
  height: 250px;
  display: inline-block;
}

.container {
  margin: auto;
  width: 1200px;
}

a:link {
  display: block;
}
