h4 {
  text-align: center;
  font-size: 45px;
  color: royalblue;
}

p {
  font-family: "Ubuntu", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-family: 'Modak', cursive; */
  /* font-family: 'Cedarville Cursive', cursive; */
  font-size: 33px;
  /* 1/96th of an inch */
  line-height: 1.3em;
  text-transform: uppercase;
  /* Line height is space between two line by default is 1 */
}

span {
  font-weight: bold;
  /* font-style: italic; */
}
 