/*
z-index will work only for position: relative, absolute, fixed or sticky; 
z-index not work for static 
Whose z-index is greater it will be get on it up. 
display: none;  will hide the element and the space  
visibility:hidden; will hide the element but will show its empty space 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 800px;
  height: 700px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin-left: 5px;
}

.box1 {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: gold;
  z-index: 5;
}

.box2 {
  position: absolute;
  top: 150px;
  left: 150px;
  background-color: orangered;
  /* visibility: hidden; */
}

.box3 {
  position: absolute;
  top: 250px;
  left: 250px;
  background-color: blueviolet;
  z-index: 2;
}

.box4 {
  position: absolute;
  top: 350px;
  left: 350px;
  background-color: limegreen;
  visibility: visible;
}
