* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #ddd;
  margin: 30px auto;
  width: 1000px;

  display: grid;

  /* grid-template-rows: repeat(2, 150px); */
  /* grid-template-columns: max-content 1fr 1fr 1fr; */
  grid-template-columns: max-content 1fr 1fr max-content;

  /* grid-template-rows: repeat(2, min-content); */
  /* grid-template-rows: repeat(2, minmax(150px, min-content));
  grid-template-columns: max-content 1fr 1fr min-content; */

  grid-template-rows: repeat(2, minmax(150px, min-content));
  /* grid-template-columns: minmax(200px, 300px) repeat(3, 1fr); */
  grid-template-columns: minmax(200px, 50%) repeat(3, 1fr);
}
/* Here the  max content will make the container size toh the text content inside it there will be no line break*/

.item {
  padding: 10px;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  background-color: tomato;
}
.item-1 {
  background-color: orangered;
}
.item-2 {
  background-color: yellowgreen;
}
.item-3 {
  background-color: blueviolet;
}
.item-4 {
  background-color: palevioletred;
}
.item-5 {
  background-color: royalblue;
}
.item-6 {
  background-color: goldenrod;
}
.item-7 {
  background-color: crimson;
}
.item-8 {
  background-color: darkslategray;
}
